<h1>Tools#index</h1>

<p>
  Users:
  <%= link_to "Signup", controller: "users", action: "create" %>
  &bull;
  <%= link_to "Login", controller: "users", action: "login" %>
</p>
<p>
  Admin:
  <%= link_to "Admin", controller: "admin", action: "index" %>
</p>
<p>Tools: ...</p>

<p><%= get_description %></p>
