<% provide(:title, 'Admin') %>

<h1>Admin Settings</h1>

<%= form_tag do %>
  <table>
    <% Calefaction::Settings::SETTINGS.each do |s| %>
      <tr>
        <td><%= label_tag("settings[#{s[:key]}]", s[:label]) %></td>
        <td><%= setting_tag s %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><%= submit_tag('Update') %></td>
    </tr>
  </table>
<% end %>
