# This is a sample config file for Calefaction's Campaigns module.
# Copy this to campaigns.yml and modify it to set up the module.
# You must restart the server after making any changes.

# List of active campaigns, in your preferred order:
enabled:
  - foo
  - bar

campaigns:
  # ...
  foo:
    title: Foo
  bar:
    title: Bar
