# This is a sample config file for Calefaction's Campaigns module.
# Copy this to campaigns.yml and modify it to set up the module.
# You must restart the server after making any changes.

# List of active campaigns, in your preferred order:
enabled:
  - foo
  - bar

# Data for each campaign. Name must match entry in the enabled list above. If a
# campaign is defined here but not enabled, its URL will be accessible but not
# advertised anywhere, and it will be marked as inactive.
campaigns:
  foo:
    # Campaign title. This is possibly a longer or more colorful version of the
    # name used as the internal key/campaign ID.
    title: Stop the Foo
    # List of active operations:
    enabled:
      - frigates
      - titan
    # Determines order of elements on campaign page; use separate lists for
    # section breaks:
    layout:
      - [frigates, titan]
    # Definitions for each operation. Operations track certain statistics.
    operations:
      # Will track the number of Foo frigates killed by the corp:
      frigates:
        # Full operation name:
        title: "Operation: Kill Foo Frigates"
        # Data source (here, retrieve data from zKillboard):
        type:  killboard
        # Show total ISK killed (defaults to true):
        isk:   true
        # Python function to filter kills:
        qualifiers: |-
          victim = kill["victim"]
          corpname = victim["corporationName"]
          killed = g.eve.universe.killable(victim["shipTypeID"])
          return corpname == "Foo Corporation" and killed.group == "Frigate"
      # Will track possession of Tritanium by all corp members:
      titan:
        title: Let's Build a Titan
        # Here, retrieve data from EVE's Assets API:
        type:  collection
        isk:   false
        # Report as "10 units" / "1 unit" of Tritanium
        unit:  unit|units
        # Python function to filter items:
        qualifiers: |-
          type = g.eve.universe.type(asset["type_id"])
          return type.name == "Tritanium"
  bar:
    title: Save the Bar
    operations: []
