<footer>
  <p>
    Copyright &copy; <%= copyright_year %> <%= AdminSetting.get('copyright') %>
    &bull;
    Running <a href="//github.com/earwig/calefaction">Calefaction</a> <%= Calefaction::Version::VERSION_STRING %>
    &bull;
    <a href="//eveonline.com">EVE Online</a> and all related trademarks are property of <a href="//ccpgames.com">CCP hf</a>.
  </p>
</footer>
