<div id="footer">
    <p>
        Copyright &copy; <%= get_copyright_year %> <%= get_copyright_holders %>
        &bull;
        Running Calefaction <%= Calefaction::Version::VERSION_STRING %>
        &bull;
        <a href="//eveonline.com">EVE Online</a> and all related trademarks are property of <a href="//ccpgames.com">CCP hf</a>.
    </p>
</div>
