.map-1 {
    display: flex;
}

.map-2 {
    flex: 1;
    padding: 0;
}

.map-3 {
    height: 100%;
}

@media (min-width: 800px) {
    .map-2 {
        max-width: none;
        margin: 2em;
    }
}

#map svg {
    display: block;
}

#map .system {
    fill: currentColor;
}

#map .jump {
    stroke: #585448;
}
