/* FONT... */
/* MOBILE... */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    background-color: #173350;
    color: #E6EAEF;
}

#container {
    display: flex;
    flex: 1;
}

#container > div {
    width: 100%;
}

main, header, footer {
    background-color: rgba(0, 0, 0, 0.85);
}

main, header > div, footer > div {
    max-width: 1000px;
    width: 80%;
}

main {
    margin: 2em auto;
    padding: 1em;
}

header > div {
    margin: 0 auto;
    padding: 1.5em;
}

header > div > div {
    display: inline-block;
}

header > div > .left {
    text-align: left;
    width: 70%;
}

header > div > .right {
    text-align: right;
    width: 30%;
}

footer {
    font-size: 85%;
}

footer > div {
    margin: 0 auto;
    padding: 1em;
}

a {
    color: #78CEFF;
    text-decoration: none;
}

a:hover {
    color: #68BEDD;
    text-decoration: underline;
}

#error pre {
    white-space: pre-wrap;
}
