body {
    background-image: url("/static/images/bg/amarr.jpg?v=1");
}

.styled-border {
    border-color: #5F4A26;
}

#character-options:before {
    border-bottom-color: #5F4A26;
}

a {
    color: #FFDE78;
}

a:hover {
    color: #DDBE68;
}
