body {
    background-image: url("/static/images/bg/caldari.jpg?v=1");
}

.styled-border {
    border-color: #364A5F;
}

#character-options:before {
    border-bottom-color: #364A5F;
}

a {
    color: #99CCEE;
}

a:hover {
    color: #88BBDD;
}

#campaigns-select {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgaGVpZ2h0PSI2MCIgd2lkdGg9IjYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlnb24gcG9pbnRzPSIxMywyMCA0OCwyMCAzMCw0NSIgc3R5bGU9ImZpbGw6IzM2NEE1RjsiLz48L3N2Zz4K');
}
