body {
    background-image: url("/static/images/bg/caldari.jpg?v=1");
}

.styled-border {
    border-color: #364A5F;
}

#character-options:before {
    border-bottom-color: #364A5F;
}

a {
    color: #99CCEE;
}

a:hover {
    color: #88BBDD;
}

#campaigns-select {
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" standalone="no"?><svg height="60" width="60" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon points="13,20 48,20 30,45" style="fill:#364A5F;"/></svg>');
}
