body {
    background-image: url("/static/images/bg/gallente.jpg?v=1");
}

.styled-border {
    border-color: #365F4A;
}

#character-options:before {
    border-bottom-color: #365F4A;
}

a {
    color: #66BB99;
}

a:hover {
    color: #60AA90;
}
