body {
    background-image: url("/static/images/gallente.jpg?v=1");
}

main, header, footer, #character-portrait {
    border-color: #365F4A;
}

a {
    color: #66BB99;
}

a:hover {
    color: #60AA90;
}
