body {
    background-image: url("/static/images/minmatar.jpg?v=1");
}

main, header, footer, #character-portrait {
    border-color: #5F3C42;
}

a {
    color: #D89988;
}

a:hover {
    color: #C88070;
}
