body {
    background-image: url("/static/images/bg/minmatar.jpg?v=1");
}

.styled-border {
    border-color: #5F3C42;
}

#character-options:before {
    border-bottom-color: #5F3C42;
}

a {
    color: #D89988;
}

a:hover {
    color: #C88070;
}
